/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.header {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0 10px;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.menu__bar {
    margin-left: auto;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 84px;
}

.menu__link {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.menu__link:hover {
    border-bottom: 2px solid #FF9900;
}

.search {
    background-color: transparent;
    background-image: url(../img/Search.png);
    background-size: cover;
    width: 26px;
    height: 26px;
    margin-left: 70px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    order: 1;
}

.search:hover {
    background-image: url(../img/Search1.png);
}

.burger {
    display: none;
    background-color: transparent;
    background-image: url(../img/Burger.png);
    background-size: cover;
    width: 30px;
    height: 23px;
    border: none;
}

.burger:hover {
    background-image: url(../img/Burger1.png);
}

.burger__menu {
    background-color: #f8c982;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 65%;
    height: 100vh;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    -webkit-transform: translateX(-101%);
        -ms-transform: translateX(-101%);
            transform: translateX(-101%);
}

.is-active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}

.burger__menu__list {
    text-align: end;
    padding: 50px;
}

.burger__menu__item {
    margin-bottom: 25px;
}

.burger__menu__link {
    font-size: 25px;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.burger__menu__link:hover {
    border-bottom: 1px solid #000000;
}